/* GENERAL */

body{
    margin: 0 300px;

}

h1, h2, h3, p, li, a{
    font-family: 'Poppins';
}

h1{
    display: flex;
    justify-content: center;
}

h2{
    margin-bottom: 50px;
}

h3{
    margin: 30px 0;
}

a{
    text-decoration: underline;
    color: black;
}

p, a, li{
    font-size: 18px;
}

/*INTRO*/

header{
    margin: 50px 0;
}

.date{
    text-align: end;
    margin: 30px 0;
    color: darkgray;
}

/* ARTICLES */
.author{
    text-align: right;
    margin-bottom: 10px;
    color: darkgray;
}


article{
    margin: 100px 0;
}

.article-contenu{
    display: flex;
}

.carte-europe, .graph-pays-au-cine{
    width: 200vw;
}

/* .histogramme-budget{
    justify-content: right;
} */

.graph-deux-text{
    margin-top: 270px;
}


/* partie genre */

#G2018{
    overflow: hidden;
    height: 0;
    transition: height 1.5s;
    margin-top: 150px;
    position: relative;

}
#G2018:target{
    height: auto;
}
#G2019{
    overflow: hidden;
    height: 0;
    transition: height 1.5s;
    margin-top: 150px;
    position: relative;

}
#G2019:target{
    height: auto;
    position: relative;

}
#G2020{
    position: relative;
    overflow: hidden;
    height: 0;
    transition: height 1.5s;
    margin-top: 150px;
}
#G2020:target{
    height: auto;
}
#G2021{
    position: relative;
    overflow: hidden;
    height: 0;
    transition: height 1.5s;
    /* margin-top: 150px; */
}
#G2021:target{
    height: auto;
}
.tri-date{
    display: flex;
    /* margin-left: 20vw; */
    justify-content: space-evenly;
}
.genre-width{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.chart-date{
    display: flex;
    flex-direction: row;
}
