/* GENERAL */

body{
    margin: 0 20px;

}

h1, h2, h3, p{
    font-family: 'Poppins';
}



h1{
    text-align: center;
}

/* ARTICLES */

.article-contenu{
    display: flex;
}

.carte-europe{
    width: 50vw;
}

.histogramme-budget{
    width: 45vw;
    height: 40vw;
}

